@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    user-select: none;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    font-family: "Sansation", sans-serif;
}

.navbar-fubotin{
    background-color: #143fcc;
    color: #f5f5f5;
}

.pre-Carrito{
    position: relative;
    font-size: 24px;
    cursor: pointer;
    & span{
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #ff0000;
        color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex; 
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
}

.carrito-previo{
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);*/
    transition: right 0.3s ease;
    z-index: 1000;
}

.carrito-previo.abrir{
    right: 0;
}

main{
   background-color: white;
}
.btn-color-cat{
    background-color: white;
    transition: box-shadow 0.3s ease;
}

.btn-color-cat:hover{
    font-size: 17px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*footer{
    max-width: 100%;

    & .foot{
        padding: 20px;
        text-align: center;
        color: #fff;
        background-color: #11770e;
        box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.268);
    }
    & h4{
        font-size: 14px;
        font-weight: 400;
    }
}
*/


.producto-carrito img {
    width: 100px;
    height: 50px;
}