@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    user-select: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    font-family: "Sansation", sans-serif;
}

/*INICIO HEADER*/
.bg-fubotin{
    background-color: #143fcc;
    color: #f5f5f5;
}

.titulo-fubotin{
    font-size: 30px;
    transition: 0.6s ease-in-out;
    & a{
        text-decoration: none;
        color: white
    }
}

.titulo-fubotin:hover{
    transform: rotate(4deg);
    & a{
        color: #000000;
        transition: 0.6s ease-in-out;
    }
}

/*ICONO CARRITO*/

.pre-Carrito{
    position: relative;
    font-size: 24px;
    cursor: pointer;
    padding-right: 10px;
    & span{
        position: absolute;
        top: -10px;
        right: -1px;
        background-color: #ff0000;
        color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex; 
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
}

.pre-Carrito:hover{
    animation: saltar 0.6s;
}

.carritoAnim{
    animation: prod-agregado 0.3s ease;
}

/*ANIMACIONES*/
@keyframes saltar{/*ANIMACION DE SALTO*/
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes prod-agregado{
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.3) rotate(-10deg);
    }
    60%{
        transform: scale(1.2) rotate(10deg);
    }
    100%{
        transform: scale(1) rotate(0);
    }
}
/*FIN HEADER*/

/*INICIO ESTILOS CARRITO*/
.carrito-previo{
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    max-width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -8px 0 35px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1000;
}

.carrito-previo.abrir{
    right: 0;
}

.prod-carrito{
    display: flex;
    gap: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #c6c6c7;
}

.prod-carrito-img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-carrito-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.prod-info{
    width: 100%;
}

.prod-info h3{
    font-size: 18px;
    margin: 0 0 5px;
}

.prod-marca{
    font-size: 14px;
    color:1b1b1b;
    margin: 0;
}

.prod-precio{
    font-size: 17px;
    color: #1b1b1b;
    margin: 8px 0;
}

.cant-carrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #c6c6c7;
    border-radius: 5px;
    overflow: hidden;
}

.cant-carrito button{
    width: 35px;
    height: 35px;
    border: none;
    background-color: white;
    color: #777;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cant-carrito button:hover:not(:disabled){
    background-color: #c6c6c7;
}

.cant-carrito span{
    text-align: center;
    width: 35px;
}

.btn-eliminar{
    border: none;
    background-color: none;
    color: #777;
    font-size: 16px;
    transition: color 0.2s ease;
}

.btn-eliminar:hover{
    color: #dc3545;
}


.subtotal-carrito{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
}

.carrito-footer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnVaciarCarrito{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #c6c6c7;
    border-radius: 7px;
    transition: transform 0.6s ease, background-color 0.6s ease, box-shadow 0.6s ease;
}

.btnVaciarCarrito:hover{
    background-color: #f1f1f1;
    transform: translate(-2px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.20);
}

.btn-comprar{
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    background-color: #143fcc;
    color: white;
    border-radius: 7px;
    border: 1px transparent;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease;
}

.btn-comprar:hover{
    color: white;
    transform: translate(-2px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.20);
}

/*FIN ESTILOS CARRITO */


main{
   background-color: white;
   flex: 1;
}

.btn-categoria{
    font-size: 20px;
    background-color: white;
    transition: box-shadow 0.3s ease;
}

.btn-categoria:hover{
    font-size: 21px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-producto{
    cursor: pointer;
    transition: transform 0.3s ease,box-shadow 0.3s ease
}

.card-producto:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.detalle-img img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.nombre-prod{
    font-size: 2.3rem;
    font-weight: 700;
}
.precio-prod{
    font-weight: 700;
}

.btn-agregar{
    background-color: #143fcc;
    color: white;
    font-weight: 400;
    transition: border 0.6s ease-in-out, transform 0.6s ease-in-out,box-shadow 0.6s ease-in-out;
}

.btn-agregar:hover{
    border: 1px solid #c6c6c7;
    background-color: white;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*FOOTER*/
.foot{
    background-color: #143fcc;
    color: white;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
}
/*FIN FOOTER*/

.modal-content{
    color: white;
}
#compraFinalizada .btn-close{
    filter: invert(1);
}